<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Subscribtion Form Test Suite">
    <test name="Blog Subscription Email ValidationTest">
        <classes>
            <class name="tests.BlogSubscriptionEmailValidationTest"/>
        </classes>
    </test>
    <test name="Blog Subscription Required Fields Test">
        <classes>
            <class name="tests.BlogSubscriptionRequiredFieldsTest"/>
        </classes>
    </test>
    <test name="Blog Subscription Successful Submission Test">
        <classes>
            <class name="tests.BlogSubscriptionSuccessfulSubmissionTest"/>
        </classes>
    </test>
</suite>